<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Profile </title>
</head>
<body>
    <div>
        <p> Welcome to Your Profile </p>
    </div>
    <br>
    <div>
        <p> Username: {{user.username}} </p>
        <p> Email: {{user.email}} </p>
        <p> Bio: {{user.bio}} </p>
    </div>
</body>
</html>