<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ReadyUp - Review Players</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <!--<img src="/images/logo.png" width="100" height="100" alt="">-->
            ReadyUp
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/matchmaking/">Matchmaking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addgame/">Add Game</a>
                </li>
                {% if role == 0 %}
                <li class="nav-item">
                    <a class="nav-link" href="/reviewgames/">Review Games</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/reviewplayers/">Review Players<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/admin/">New Admin</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile/">View Profile</a>
                        <a class="dropdown-item" href="/profile/edit/">Edit Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout/">Logout</a>
                    </div>
                </li>
                <li class="nav-item">
                    <object class="svg-icon" data={{user.icon}}  width="32px" height="32px"> </object>
                </li>
            </ul>
        </div>
    </nav>

    <input id="userColor" type="hidden" value="{{user.icon_color}}">

    <body>
        <main class="mx-auto my-4 w-50">
            <h1> Review Players </h1>
        </main>
        <div class="container mx-auto my-4 w-100">
            <div class="row">
            {% for player in players %}
                <div class="col-md-4">
                    <div class="card my-4" style="width: 18rem;">
                        <div class="card-img-top"> <object id="profile-icon" data={{player.icon}} width="288px" height="288px"> </object> </div>
                        <div class="card-body">
                            <h5 class="card-title">{{player.username}}</h5>
                            <p class="card-text">{{player.bio}}</p>
                            <a id="{{player.id}}" href="#" class="remove-btn btn btn-primary"> Remove </a>
                            <input id="playerID" type="hidden" value="{{player.id}}">
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <script src="/static/scripts/setcolor.js"> </script>
        <script src="/static/scripts/review_player.js"> </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>